{:jetty {:port           8081
         :join?          false
         :resources-path "client/public"
         :manifest-path  "client/public/js/manifest.edn"}
 :nrepl {:port #long #or [#env NREPL_PORT 7002]
         :bind #or [#env NREPL_BIND "127.0.0.1"]}}