{:jetty       {:port           8081
               :join?          false
               :resources-path "client/public"
               :public-path    "/public"}
 :hyperfiddle {:manifest-path                     "client/public/js/manifest.edn"
               :hyperfiddle.electric/user-version "dev"}
 :nrepl       {:port #long #or [#env NREPL_PORT 7002]
               :bind #or [#env NREPL_BIND "127.0.0.1"]}}