{:paths ["scripts"]
 :tasks
 {:requires      ([babashka.fs :as fs])

  dev            (clojure "-A:dev:defaults")
  test-dev       (clojure "-M:poly test :dev")
  test-dev-watch (clojure "-M:poly test :dev")}}