{:top-namespace        "streamcraft"
 :interface-ns         "api"
 :default-profile-name "default"
 :compact-views        #{}
 :vcs                  {:name     "git"
                        :auto-add false}
 :tag-patterns         {:stable  "stable-*"
                        :release "v[0-9]*"}
 ;:test
 ;{:create-test-runner
 ; [org.corfield.external-test-runner.interface/create]}
 :projects             {"development" {:alias "dev"}
                        "admin"       {:alias "admin"}
                        "client"      {:alias "client"}}}
