{:paths   ["src"]

 :aliases {:backend  {:extra-deps
                      {org.clojure/clojure              {:mvn/version "1.11.1"}

                       ; Bases
                       streamcraft/bootstrap {:local/root "../../bases/bootstrap"}
                       streamcraft/protocols        {:local/root "../../components/protocols"}
                       streamcraft/repl             {:local/root "../../bases/repl"}
                       ; Components
                       streamcraft/system           {:local/root "../../components/system"}
                       streamcraft/config           {:local/root "../../components/config-aero"}
                       streamcraft/http-handler     {:local/root "../../components/http-handler-reitit"}
                       streamcraft/http-server      {:local/root "../../components/http-server-jetty"}
                       streamcraft/http-router      {:local/root "../../components/http-router-reitit"}}}
           :frontend {:extra-deps {}}
           :dev      {:extra-paths ["resources/dev"]
                      :extra-deps  {hashp/hashp {:mvn/version "0.2.1"}}}
           :test     {:extra-paths []
                      :extra-deps  {}}}}
