{:paths   ["src" "resources"]
 :deps    {metosin/reitit             {:mvn/version "0.7.0-alpha7"}
           metosin/reitit-middleware  {:mvn/version "0.7.0-alpha7"}
           metosin/ring-http-response {:mvn/version "0.9.3"}
           }
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {}}}}
